/* Dropdown Button */

.hidden {
    display: none;
}

.dropdown {
    width: 200px;
    position: relative;
}

.dropdown-button:hover,
.dropdown-menu-option:hover {
    cursor: pointer;
}

.dropdown-menu {
    width: 100%;
    background-color: #f3f4f6;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    position: absolute;
}

.dropdown-menu-option {
    padding: 10px;
}

.dropdown-menu-option:hover {
    background-color: #d1d5db;
}


/*******************************/

.placeholder {
    background-color: purple;
    height: 60px;
}


/*******************************/

/* Image Carousel */

:root {
    --image-index: 0;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


.image-carousel {
    display: grid;
    grid-template-columns: 50px 400px 50px;
    align-items: center;
}

.image-frame {
    height: 300px;
    width: 300px;
    border: 2px blue solid;
    margin: 0px auto;
    overflow: hidden;
    grid-column: 2 / 3;
}

.image-container {
    height: 100%;
    width: 100vw;
    /* border: 1px red solid; */
    display: flex;
    position: relative;
    right: calc(300px * var(--image-index));
}

.city-image {
    height: 100%;
    width: 300px;
    flex: 0 0 auto;
}

.arrow-button {
    width: 60px;
}

.left-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.image-indicators {
    grid-column: 2 / 3;
}

.list-of-image-dots {
    list-style-type: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 0px;
}

.image-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #64748b;
    background-color: #e2e8f0;
}

.displayed {
    background-color: #94a3b8;
}